<h2>Private Messages</h2>

<% if user_signed_in? %>
<div class="col s3">
<% @users.each do |user| %> 

  <ul class="collection">
    <li class="collection-item"><%= link_to user.email, user_path(user) %></li>
  </ul> 

<% end %> 
</div>
<% end %> 


